.checked-entry {
	background-color: Lavender;
}

.type-dir {
	text-decoration: underline;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin: 10px;
}

.row-text {
	width: 100px;
}

#main-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}

#info-size {
	margin: 10px auto;
}

#info-name {
	width: 100%;
	margin: 10px auto;
	font-weight: bold;
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#info-notes > textarea {
	width: 224px;
}

#menu {
	min-width: 150px;
}

#info {
	width: 250px;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

header {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px;
}

#info-img {
	height: 150px;
	width: 150px;
	border-style: solid;
	border-width: 1px;
	margin: 10px auto;
}

#upload-files-hidden, #upload-folder-hidden {
	display: none;
}

#grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	margin: 10px;
}

.grid-pic {
	display: flex;
	width: 120px;
	height: 120px;
	margin: 5px;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	overflow: hidden;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.grid-pic-horizontal {
	height: 100%;
	width: auto;
}

.grid-pic-vertical {
	width: 100%;
	height: auto;
}

.grid-text {
	width: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.grid-element {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
}