body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}

header {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 20px;
}

.checked-entry {
	background-color: Lavender;
}

.type-dir {
	text-decoration: underline;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 10px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin: 10px;
}

.row-text {
	width: 100px;
}

.border {
	border-style: solid;
	border-width: 1px;
}

#main-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
}

#upload-files-hidden, #upload-folder-hidden {
	display: none;
}

#side-column {
	flex-shrink: 0;
	flex-basis: 250px;
	padding: 0;
}

#side-column > div {
	margin-bottom: 10px;
}

/*NAVBAR*/

#navbar {
	width: 100%;
	height: 50px;
	margin: 0;
	box-sizing: border-box;
	border-bottom: 1px solid black;
}

#nav-logo {
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-logo > img {
	height: 100%;
	width: auto;
}

#nav-path {
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	margin: 10px;
}

.nav-path-button {
	border: 1px solid black;
	border-radius: 2px;
	margin-right: 10px;
	padding: 0 10px;
	align-items: center;
	display: flex;
}

#nav-user {
	margin: 3px;
	display: flex;
}

#nav-user > div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
}

#user-avatar > img {
	height: 35px;
	width: 35px;
	border: 1px solid black;
	border-radius: 3px;
}

#logout > img {
	height: 20px;
	width: auto;
}


/*INFO*/

#info {
	padding: 0;
	margin: 0;

}

#info-size {
	margin: 10px auto;
}

#info-name {
	width: 240px;
	margin: 5px auto;
	font-weight: bold;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

#info-img {
	height: 200px;
	width: 200px;
	margin: 10px auto;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	display: flex;
}


/*GRID*/

#grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	margin: 10px;
}

.grid-pic {
	display: flex;
	width: 120px;
	height: 120px;
	margin: 5px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.grid-pic-horizontal {
	height: 100%;
	width: auto;
}

.grid-pic-vertical {
	width: 100%;
	height: auto;
}

.grid-text {
	width: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.grid-element {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
}