{% load static %}
<!doctype html>
<html>
	<head>
		<title>PolpettaCloud</title>
		
		<link rel="stylesheet" href="{% static "cloud/style.css" %}">
		<script type = "text/javascript" src = "{% static "cloud/jquery-3.2.1.min.js" %}"></script>
        <script type = "text/javascript" src = "{% static "cloud/cloud_class.js" %}"></script>
		<script type = "text/javascript" src = "{% static "cloud/cloud.js" %}"></script>
        <link rel = "icon" type = "image/png" href = "{% static "cloud/pics/favs/spaghetti.png" %}">
	</head>
	<body>
        <div id="navbar" class="row">
            <div id="nav-logo">
                <img src="/static/cloud/pics/spaghetti_big.png">&nbsp <span>PolpettaCloud</span>
            </div>
            <div id="nav-path"></div>
            <div id="nav-user" class="row">
                <div id="user-avatar"><img src="/cloud/get-avatar"></div>
                <div id="user-name">{{ user.get_username }}</div>
                <div id="logout">
                    <a href="/cloud/logout/"><img src="/static/cloud/pics/logout_white.png"></a>
                </div>
            </div>
        </div>
        <div id="main-container">
            <div id="side-column" class="column">
                <div id="menu" class="row tile">
                    <div id="menu-files" class="tilea">
                        <a href="/cloud/-/"><img src="/static/cloud/pics/menu_blu/cloud.png"></a>
                    </div>
                    <div id="menu-trash" class="tilea">
                        <a href="/cloud/--/"><img src="/static/cloud/pics/menu_blu/trash.png"></a>
                    </div>
                    <div id="menu-favs" class="tilea">
                        <a href="/cloud/---/"><img src="/static/cloud/pics/menu_blu/bookmark.png"></a>
                    </div>
                    <div id="menu-backup" class="tilea">
                        <a href="/cloud/----/"><img src="/static/cloud/pics/menu_blu/archive.png"></a>
                    </div>
                </div>
                <div id="info" class="column tile">
                    <div id="info-name">-</div>
                    <div id="info-img">
                        <img src="">
                    </div>
                    <div id="info-size">Size: <span>-</span></div>
                </div>
                <div id="gp-sync" class="column tile">
                    <div id="sync-title">
                        <a href="/cloud/google-consent"><img src="/static/cloud/pics/google-photos.png"></a>
                        Google Photos
                    </div>
                    <div id="sync-last">
                        Last sync:&nbsp;
                        <span id="sync-last-time">-</span>
                        <img id="sync-now" src="/static/cloud/pics/refresh.png">
                    </div>
                    <div id="sync-status">
                        <p id="sync-unsucc" class="red">
                            <a href="/cloud/google-consent">Last sync was unsuccessful.<br>Click here to regenerate consent</a>
                        </p>
                        <p id="sync-no-consent" class="red">
                            <a href="/cloud/google-consent">No account linked.<br>Click here to link one</a>
                        </p>
                        <p id="sync-ok" class="green">
                            Fetched <span>-</span> new photos.
                        </p>
                    </div>
                </div>
            </div>
            <div id="main" class="column tile">
                <div id="buttons">
                    <div id="parent" class="button hidden">Parent</div>
                    <div id="delete" class="button hidden">Delete</div>
                    <div id="perm-delete" class="button hidden">Delete</div>
                    <div id="rename" class="button hidden">Rename</div>
                    <div id="create-folder" class="button hidden">Create Folder</div>
                    <div id="copy" class="button hidden">Copy</div>
                    <div id="cut" class="button hidden">Cut</div>
                    {% if 'clipboard' in request.session %}
                    <div id="paste" class="button">Paste</div>
                    {% else %}
                    <div id="paste" class="button">Paste</div>
                    {% endif %}
                    <div id="download" class="button hidden">Download</div>
                    <div id="restore" class="button hidden">Restore</div>
                    <div id="show-table" class="button hidden">Table</div>
                    <div id="show-grid" class="button hidden">Grid</div>
                    <input id="upload-files-hidden" type="file" name="files" multiple>
                    <input id="upload-folder-hidden" type="file" name="files" multiple>
                    <div id="upload-files" class="button hidden">Upload Files</div>
                    <div id="upload-folder" class="button hidden">Upload Folder</div>
                    <a id="downloader" class="hidden"></a>
                </div>
                <div id="table-container">
                    <table id="table-files">
                        <thead>
                            <tr>
                                <th>Name</th><th>Size</th><th>Last Modification</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="grid-container">
                </div>
            </div>
        </div>
	</body>
</html>