{% load static %}
<!doctype html>
<html>
	<head>
		<title>PolpettaCloud - Login</title>
		
		<link rel="stylesheet" href="{% static "cloud/style.css" %}">
	</head>
	<body>
		<form action="/cloud/login-action/" method="POST">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="usr" required>
	
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pwd" required>
	
			<button type="submit">Login</button>
		</form>
	</body>
</html>